!!! 5
html.no-js

    <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Eagle Eye :: #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.6.1-respond-1.1.0.min.js')
  body
    //if lt IE 9
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.
    //
       This code is taken from http://twitter.github.com/bootstrap/examples/hero.html 
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Eagle Eye
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='dashboard') Dashboard
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Applications
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='application') Abstrct
                  li
                    a(href='application') Eagle Eye
              li
                a(href='register') Register Application
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Abhilash Hebbar
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Profile
                  li.divider
                  li
                    a(href='#') Log Out
            form.navbar-search.pull-right
              input.search-query(type='text', placeholder='Search')
          //
            /.nav-collapse 
    .container
      section.row
        article.span8
          div
            form.form-horizontal
              legend Register Application
              .control-group
                label.control-label(for='name') Application name
                .controls
                  input#inputEmail(type='text', placeholder='Application name')
              .control-group
                label.control-label(for='testCaseURL') Test case URL
                .controls
                  input#testCaseURL(type='text', placeholder='Test case URL')
              .control-group
                label.control-label(for='Users') Users
                .controls
                  textarea#users(rows='3', placeholder='Enter comma separated users')
              .control-group
                .controls
                  button.btn.btn-primary(type='submit') Register
                  button.btn(type='submit') Cancel
        article.offset1.span3
          .well
            h3 Help
            | Het is al geruime tijd een bekend gegeven dat een lezer, tijdens het bekijken van de layout van een pagina, afgeleid wordt door de tekstuele inhoud. Het belangrijke punt van het gebruik van Lorem Ipsum is dat het uit een min of meer normale verdeling van letters bestaat, in tegenstelling tot "Hier uw tekst, hier uw tekst" wat het tot min of meer leesbaar nederlands maakt. Veel desktop publishing pakketten en web pagina editors gebruiken tegenwoordig Lorem Ipsum als hun standaard model tekst, en een zoekopdracht naar "lorem ipsum" ontsluit veel websites die nog in aanbouw zijn. Verscheidene versies hebben zich ontwikkeld in de loop van de jaren, soms per ongeluk soms expres (ingevoegde humor en dergelijke).dasdadfsad asdad
      hr
      footer
        p
          | © Open Labs, A division of
          a(href='#') Open Juice
          | 2012
    //
       /container 
    #register.modal.hide.fade.out(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Register
      form(style='margin-bottom: 0;')
        .modal-body
          .control-group
            label.control-label(for='inputName') Name *
            .controls
              input#inputName.input-xlarge(type='text', placeholder='Name')
          .control-group
            label.control-label(for='inputEmail') Email *
            .controls
              input#inputEmail.input-xlarge(type='text', placeholder='Email')
          .control-group
            label.control-label(for='inputEmail') Organization
            .controls
              input#inputOrganization.input-xlarge(type='text', placeholder='Organization')
          .control-group
            label.control-label(for='inputPassword') Password *
            .controls
              input#inputPassword.input-xlarge(type='password', placeholder='Password')
          .control-group
            label.control-label(for='inputPassword') Confirm password *
            .controls
              input#inputConfirmPassword.input-xlarge(type='password', placeholder='Confirm password')
        .modal-footer
          button.btn(data-dismiss='modal', aria-hidden='true') Close
          button.btn.btn-primary Register
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\\/script>')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

