

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.clear{clear:both;}
.collapsable-link{padding:11px 10px;display: block; float:left;}
.title-time{padding:5px 10px;text-align: center;font-size: 14px;line-height: 15px;}











